<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Developer Hub</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="px-8 pt-16 lg:px-16">
    <h2 class="text-white font-bold text-3xl lg:text-xl text-center">connell<span class="text-[#f9004d]">boyce</span>.com</h2>
    <h1 class="text-white font-bold text-5xl lg:text-3xl mb-4 text-center">developer<span class="text-[#f9004d]">hub</span></h1>
    <div class="grid grid-cols-2 justify-items-center">
        <div class="rounded-xl bg-neutral-700 h-24 p-4">
            <h2 class="text-white font-bold text-3xl lg:text-xl text-center">my clients</h2>
        </div>
        <div class="rounded-xl bg-neutral-700 h-24 p-4">
            <h2 class="text-white font-bold text-3xl lg:text-xl text-center">my applications</h2>
        </div>
    </div>
</div>
</body>
</html>